body {
    overflow: auto;

    .captureMenuComponent {
      top: calc(100% - 126px)
    }

    .captureMenuLogComponent {
      top: calc(100% - 70px);
    }
}

@mixin full-container {
    width: 100%;
    height: 100%;
}

html {
  @include full-container;
}

.root-container {
    @include full-container;

    > div {
        @include full-container;
    }
}